<!doctype html>
<html lang="en">

<head>
  <title>MahaDAO - Governing the world's first valuecoin</title>
  {{> partials/head }}
</head>

<body>
  {{> partials/header }}

  {{!-- Background and chakras  --}}
  <div id="header-gradient"></div>
  <div class="chakra"></div>
  <div class="gradient-red-1"></div>
  <div class="gradient-red-2"></div>
  <div class="gradient-black-1"></div>

  {{> pages/home/hero.hbs }}
  {{> pages/home/features.hbs }}
  {{> pages/home/tokens.hbs }}
  {{> pages/home/community.hbs }}
  {{> pages/home/liquidity-mining.hbs }}
  {{> pages/home/team.hbs }}
  {{> pages/home/partners.hbs }}
  {{> partials/footer }}

  <script src="http://localhost:35729/livereload.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
</body>
</html>
