<section id="section-community" data-aos="fade-up" data-aos-duration="2000">
  <div class="main-section1">
    <div class="f-text-title1">
      Community Driven Governance
    </div>
    <div class="f-text-text">
      Powered & governed by the people, MahaDAO is
      designed so that a vibrant community is at the helm of all decision making. Using democratic frameworks like
      governance portals, forums & the power of social discourse, growth is driven by the community and for the community.
    </div>
    <img
      src="../../../img/Group 2205.png"
      alt="img"
      class="main-section-image"
    />
    <div class="main-section-bottom" data-aos="fade-up" data-aos-duration="500">
      <div class="main-section-bottom-bg">
        Contribution to the growth and adoption of ARTH and the MahaDAO ecosystem ensures you
        rich rewards that will benefit everyone.
      </div>
    </div>
  </div>
</section>
