<section id="section-community">
  <div class="main-section1">
    <div class="f-text-title1" style="font-size: 46px;">For the Community, by the community</div>
    <div class="f-text-text" style="font-size: 18px;max-width: 760px;">Powered & governed by the people MahaDAO is
      designed so that our vibrant community is at the helm of all decision making. Using democratic frameworks like
      governance portal, forums & the power of social discourse, the growth is driven by we, the people.</div>
    <img src="../../../img/Group 2205.png" alt="img" class="main-section-image">
    <div class="main-section-bottom">Contribute to the growth and adoption of ARTH and the system ensures you reap
      rich rewards that benefit everyone. </div>
  </div>
</section>
