<section class="product-section" data-aos="fade-up" data-aos-duration="1000">
  <div class="product-content">
    <div class="product_title" data-aos="fade-up" data-aos-duration="2000">
      Ecosystem Products
    </div>
    <div class="product_title_text" data-aos="fade-up" data-aos-duration="2000">
      Over 400 apps and services have integrated Dai,
      <br />
      including wallets, DeFi platforms, games and more.
    </div>
    <div class="product_section_flex_card row">
      <div class="col-12 col-md-4">
        <div class="product_card" data-aos="fade-up" data-aos-duration="500">
          <img
            src="img/Frame12.png"
            alt="product_card_img"
            class="product_card_img"
          />
          <div class="product_card_title">
            Governance Portal
          </div>
          <div class="product_card_text">
            Maha ($MAHA) is a governance token that empowers the token holders to vote on savings rates.
          </div>
          <a href="">
            <div class="product_section_learnmore_link soon">
              COMING SOON
            </div>
            {{! <div class="product_section_learnmore_link">
          Learn more →
        </div> }}
          </a>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="product_card" data-aos="fade-up" data-aos-duration="1000">
          <img
            src="img/Frame12.png"
            alt="product_card_img"
            class="product_card_img"
          />
          <div class="product_card_title">
            ARTH CDP Portal
          </div>
          <div class="product_card_text">
            Maha ($MAHA) is a governance token that empowers the token holders to vote on savings rates.
          </div>
          <a href="">
            <div class="product_section_learnmore_link soon">
              COMING SOON
            </div>
            {{! <div class="product_section_learnmore_link">
          Learn more →
        </div> }}
          </a>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="product_card" data-aos="fade-up" data-aos-duration="1500">
          <img
            src="img/Frame12.png"
            alt="product_card_img"
            class="product_card_img"
          />
          <div class="product_card_title">
            Gasless Wallet
          </div>
          <div class="product_card_text">
            Maha ($MAHA) is a governance token that empowers the token holders to vote on savings rates.
          </div>
          <a href="">
            <div class="product_section_learnmore_link soon">
              COMING SOON
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
