<section id="section-three-features">
  <div class="card-deck row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="img-container">
          <img src="./img/Frame-4.png" class="img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Light.
            <br />
            Speed Ahead.
          </h5>
          <p class="card-text">
            Less than 3 seconds. That’s the average time it takes to transact ARTH. Arth is money
            at the borderless speed of light.
          </p>
          <div class="pitch">
            #Defi at its fastest
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="img-container">
          <img src="./img/Frame-5.png" class="img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Gas fees.
            <br />
            Evaporated.
          </h5>
          <p class="card-text">
            With meta-transactions, MahaDAO has eliminated gas fees for you. You can use ARTH coins
              without any coverages, overheads or hidden charges.
          </p>
          <div class="pitch">
            #Defi at its lowest cost
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="img-container">
          <img src="./img/Group2212.png" class="img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Simply,
            <br />
            Effortless
          </h5>
          <p class="card-text">
            MahaDAO ensures trouble-free onboarding of users providing an awesome UX and a
              crystal clear flow of ARTH. Simple, effective and smooth.
          </p>
          <div class="pitch">
            #Defi at its smoothest
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
