<title>
  Introducing world's first valuecoin | MahaDAO - The ultimate DeFi platform
</title>
<!-- Search Engine -->
<meta
  name="description"
  content="MahaDAO is a community-focused decentralized org built on Matic Network, providing scalable solutions to its users in the form of ARTH coin, the world's first valuecoin."
/>
<meta name="image" content="https://mahadao.com/image-insert-@steven" />
<!-- Schema.org for Google -->
<meta
  itemprop="name"
  content="Introducing world's first valuecoin | MahaDAO - The ultimate DeFi platform"
/>
<meta
  itemprop="description"
  content="MahaDAO is a community-focused DAO built on Matic Network, providing scalable solutions to its users in the form of ARTH coin, the world's first valuecoin."
/>
<meta itemprop="image" content="https://mahadao.com/image-insert-@steven" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta
  name="twitter:title"
  content="Introducing world's first valuecoin | MahaDAO - The ultimate DeFi platform"
/>
<meta
  name="twitter:description"
  content="MahaDAO is a community-focused DAO built on Matic Network, providing scalable solutions to its users in the form of ARTH coin, the world's first valuecoin."
/>
<meta name="twitter:site" content="@TheMahaDAO" />
<meta
  name="twitter:image:src"
  content="https://mahadao.com/image-insert-@steven/440pby220px"
/>
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta
  name="og:title"
  content="Introducing world's first valuecoin | MahaDAO - The ultimate DeFi platform"
/>
<meta
  name="og:description"
  content="MahaDAO is a community-focused decentralized org built on Matic Network, providing scalable solutions to its users in the form of ARTH coin, the world's first valuecoin."
/>
<meta
  name="og:image"
  content="https://mahadao.com/image-insert-@steven/600pxby315px"
/>
<meta name="og:url" content="https://mahadao.com/" />
<meta name="og:site_name" content="MahaDAO" />
<meta name="og:type" content="website" />
