<title>
  Introducing world's first valuecoin | MahaDAO - A DeFi Revolution
</title>
<!-- Search Engine -->
<meta
  name="description"
  content="ARTH coin is the world's first valuecoin created by MahaDAO & governed by you. MahaDAO is a community-focused DeFi organization revolutionizing the DeFi space."
/>
<meta name="image" content="/images/opengraph/mahadao-1024.jpg" />
<!-- Schema.org for Google -->
<meta
  itemprop="name"
  content="Introducing world's first valuecoin | MahaDAO - A DeFi Revolution"
/>
<meta
  itemprop="description"
  content="ARTH coin is the world's first valuecoin created by MahaDAO & governed by you. MahaDAO is a community-focused DeFi organization revolutionizing the DeFi space."
/>
<meta itemprop="image" content="/images/opengraph/mahadao-1024.jpg" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta
  name="twitter:title"
  content="Introducing world's first valuecoin | MahaDAO - A DeFi Revolution"
/>
<meta
  name="twitter:description"
  content="ARTH coin is the world's first valuecoin created by MahaDAO & governed by you. MahaDAO is a community-focused DeFi organization revolutionizing the DeFi space."
/>
<meta name="twitter:site" content="@TheMahaDAO" />
<meta name="twitter:image:src" content="/images/opengraph/mahadao-1024.jpg" />
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta
  name="og:title"
  content="Introducing world's first valuecoin | MahaDAO - A DeFi Revolution"
/>
<meta
  name="og:description"
  content="MahaDAO is a community-focused decentralized org built on Matic Network, providing scalable solutions to its users in the form of ARTH coin, the world's first valuecoin."
/>
<meta name="og:image" content="/images/opengraph/mahadao-1024.jpg" />
<meta name="og:url" content="https://mahadao.com/" />
<meta name="og:site_name" content="MahaDAO" />
<meta name="og:type" content="website" />
