<section id="section-title">
  <div class="title-head">
    <span class="main-title">
      Timeless value.
    </span>
    <br />
    world's first non-depreciating money
  </div>
  <div class="title-down-text">
    <div class="line"></div>
    Empowering billions with a new currency,
    <br />
    governed by you
  </div>
</section>
