<section id="section-liquidity" data-aos="fade-up" data-aos-duration="3000">
  <div class="main-section">
    <div class="f-text-title">
      Rich Rewards via Liquidity Farming
    </div>
    <div class="f-text-text">
      Earn interest & reap rich rewards on your
        crypto assets from the the MahaDAO Liquidity Farming Program. A community based approach to market making
        to provide liquidity to create ARTH.
    </div>
    <div class="img-container">
      <img src="../../img/Frame-11.png" alt="img" class="main-section-image" />
    </div>
    <div class="main-section-bottom">
      The Liquidity Farming program wil follow a curved distribution model
      of rewards in MAHA. Which means early farmers will reap the most rewards.
    </div>
  </div>
</section>
