<section id="section-liquidity">
  <div class="main-section">
    <div class="f-text-title">
      Rich Rewards via Liquidity Farming
    </div>
    <div class="f-text-text">
      Earn high interests & reap rich rewards on your
        crypto assets on the The MahaDAO Liquidity Farming Program. A community based approach to market making on your
        crypto assets, where MAHA tokens are farmed by providing liquidity to create ARTH. As a miner you also earn
        interest on your ARTH tokens by staking ARTH and earning an interest from the Arth Savings Rate.
    </div>
    <div class="img-container">
      <img src="../../img/Frame-11.png" alt="img" class="main-section-image" />
    </div>
    <div class="main-section-bottom">
      The MahaDAO Liquidity Farming program follows an exponential distribution model
        of
        rewards in MAHA. Early liquidity miners reap the most rewards.
    </div>
  </div>
</section>
