<section id="section-partners">
  <div class="partners">
    <div class="our-partners">Our Partners</div>
    <div class="sec-one"></div>
    <div class="sec-one"></div>
    <div class="sec-one"></div>
    <div class="sec-one"></div>
  </div>
  <div class="line">
</section>
