<section
  class="section-f"
  id="team-section"
  data-aos="fade-up"
  data-aos-duration="2000"
>
  <div class="f-text-title">
    <span class="team-section">
      Core Team
    </span>
  </div>
  {{! <div class="f-text-text">
    Over 400 apps and services have integrated Dai,
    <br />
    including wallets, DeFi platforms, games and more.
  </div> }}
  <div class="f-cards row">
    <div class="card1 col-6 col-md-3" style="">
      <img src="img/steve.png" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Steven Enamakel
        </h5>
        <p class="f-card-text">
          Developer & Founder
        </p>
      </div>
      {{! <a target="_blank" href="https://twitter.com/senamakel">
        <i class="fab fa-twitter"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/enamakel/">
        <i class="fab fa-linkedin"></i>
      </a> }}
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="img/pranay 1.png" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Pranay Sanghavi
        </h5>
        <p class="f-card-text">
          Business  & Founder
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/gafoor.png" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Gafoor Khan
        </h5>
        <p class="f-card-text">
          Marketing
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/harish.jpeg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Harish Suthi
        </h5>
        <p class="f-card-text">
          Investor & Community Relations
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/sam.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Samridh Seth
        </h5>
        <p class="f-card-text">
          Branding & Design
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/yash.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Yash Agarwal
        </h5>
        <p class="f-card-text">
          Data Scientist
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/sagar.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Sagar Behara
        </h5>
        <p class="f-card-text">
          Blockchain Developer
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/anurag.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Anurag Upadhyay
        </h5>
        <p class="f-card-text">
          Blockchain Developer
        </p>
      </div>
    </div>
  </div>
  <div class="f-text-title">
    Advisors
  </div>
  {{! <div class="f-text-text">
    Over 400 apps and services have integrated Dai,
    <br />
    including wallets, DeFi platforms, games and more.
  </div> }}
  <div class="f-cards">
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/chirdeep.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Chirdeep Singh
        </h5>
        <p class="f-card-text">
          Advisor, Founder of Ocean Protocol
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/karan.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Karan Vaswani
        </h5>
        <p class="f-card-text">
          Legal Advisor
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/ajeet.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Ajeet Khurana
        </h5>
        <p class="f-card-text">
          Advisor
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img
        src="images/avatars/alessandra.jpg"
        class="f-card-img-top"
        alt="..."
      />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Alessandra Albano
        </h5>
        <p class="f-card-text">
          Community Advisor
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/zoran.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Zoran Grubisic
        </h5>
        <p class="f-card-text">
          Economist
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/dalpat.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Dalpat Prajapati
        </h5>
        <p class="f-card-text">
          Design Advisor
        </p>
      </div>
    </div>
  </div>
</section>
