<section class="section-f" id="team-section">
  <div class="f-text-title">
    <span class="team-section">
      Team
    </span>
    Advisors
  </div>
  <div class="f-text-text">
    Over 400 apps and services have integrated Dai,
    <br />
    including wallets, DeFi platforms, games and more.
  </div>
  <div class="f-cards">
    <div class="card1" style="">
      <img src="img/steve.png" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Steven E
        </h5>
        <p class="f-card-text">
          Founder & CEO
        </p>
      </div>
    </div>
    <div class="card1" style="">
      <img src="img/pranay 1.png" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Pranay Sanghav
        </h5>
        <p class="f-card-text">
          Founder & CEO
        </p>
      </div>
    </div>
    <div class="card1" style="">
      <img
        src="img/jorge-salvador-Dhy91JnndcE-unsplash 1.png"
        class="f-card-img-top"
        alt="..."
      />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Steven E
        </h5>
        <p class="f-card-text">
          Founder & CEO
        </p>
      </div>
    </div>
    <div class="card1" style="">
      <img
        src="img/luis-quintero-zAv3h6EF5HE-unsplash 1.png"
        class="f-card-img-top"
        alt="..."
      />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Steven E
        </h5>
        <p class="f-card-text">
          Founder & CEO
        </p>
      </div>
    </div>
    <div class="card1" style="">
      <img src="img/steve.png" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Steven E
        </h5>
        <p class="f-card-text">
          Founder & CEO
        </p>
      </div>
    </div>
    <div class="card1" style="">
      <img src="img/pranay 1.png" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Pranay Sanghav
        </h5>
        <p class="f-card-text">
          Founder & CEO
        </p>
      </div>
    </div>
    <div class="card1" style="">
      <img
        src="img/jorge-salvador-Dhy91JnndcE-unsplash 1.png"
        class="f-card-img-top"
        alt="..."
      />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Steven E
        </h5>
        <p class="f-card-text">
          Founder & CEO
        </p>
      </div>
    </div>
    <div class="card1" style="">
      <img
        src="img/luis-quintero-zAv3h6EF5HE-unsplash 1.png"
        class="f-card-img-top"
        alt="..."
      />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Steven E
        </h5>
        <p class="f-card-text">
          Founder & CEO
        </p>
      </div>
    </div>
  </div>
</section>
