<section id="section-token-logos">
  <div class="coin-arth row">
    <div
      class="col-12 col-md-6 token"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <div class="icon-section">
        <img src="./img/Group1.png" alt="frame" class="rightpara-leftfig-img" />
        <img
          src="./img/Frame.png"
          alt="frame"
          class="rightpara-leftfig-img-inner arth"
        />
        <div class="token-title">
          ARTH
        </div>
      </div>
    </div>
    <div
      class="col-12 col-md-6 side-para"
      data-aos="fade-up"
      data-aos-duration="3000"
    >
      <div class="para-text">
        <div class="pitch">
          Fighting Depreciation
          <br />
          World's first valuecoin
        </div>
        <div class="side-text">
          ARTH is a decentralized algorithmic currency that aims to fight depreciation.
          Irrespective of which direction the market moves, ARTH coin holders will never lose their buying power.
        </div>
        <div class="side-text">
          ARTH gives you financial freedom with no volatility as it’s a value-stable
          currency that you control. ARTH means wealth creation, one of the foremost
          goals of human life.
        </div>
      </div>
    </div>
  </div>
  <div class="coin-maha row">
    <div
      class="col-12 col-md-6 order-md-1 token"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <div class="icon-section">
        <img
          src="../../img/Group2.png"
          alt="frame"
          class="rightpara-leftfig-img"
        />
        <img
          src="../../img/maha-token.png"
          alt="frame"
          class="rightpara-leftfig-img-inner maha"
        />
        <div class="token-title">
          MAHA
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 side-para">
      <div class="para-text" data-aos="fade-up" data-aos-duration="3000">
        <div class="pitch">
          MAHA Governance Token
        </div>
        <div class="side-text">
          MAHA is a governance token that empowers the token holders to vote on
            savings rates, stability fees, direction, strategy and future course of action for the ARTH coin.
        </div>
        <div class="side-text">
          The MAHA tokens help keep the ARTH coin completely decentralised.
        </div>
      </div>
    </div>
  </div>
</section>
