<section id="section-token-logos">
  <div class="fig-rightpara row">
    <div class="col-12 col-md-6">
      <div class="toppara-leftfig">
        <img src="./img/Group1.png" alt="frame" class="rightpara-leftfig-img" />
        <img
          src="./img/Frame.png"
          alt="frame"
          class="rightpara-leftfig-img-inner"
        />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="right-side-para">
        <div class="right-side-title">
          Fighting Depreciation
          <br />
          World's first valuecoin
        </div>
        <div class="right-side-text">
          Arth is a decentralized algorithmic currency that aims to fight inflation
            irrespective of which direction the market moves, ARTH coin holders will never lose their purchasing power.
        </div>
        <div class="right-side-text">
          Arth gives you financial freedom with no volatility as it’s a value-stable
            currency
            that you control. Arth means wealth creation, one of the foremost goals of human life.
        </div>
      </div>
    </div>
  </div>
  <div class="leftpara-rightfig">
    <div class="col-12 col-md-6">
      <div class="left-side-para">
        <div class="right-side-title">
          Maha Governance Token
        </div>
        <div class="right-side-text">
          Maha is a governance token that empowers the token holders to vote on
            savings rates, stability fees, direction, strategy and future course of action for the $ARTH coin.
        </div>
        <div class="right-side-text">
          The MAHA tokens help keep the ARTH coin completely decentralised. MahaDAO is
            built for
            the community, by the community.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="rightpara-leftfig">
        <img
          src="../../img/Group2.png"
          alt="frame"
          class="rightpara-leftfig-img"
        />
        <img
          src="../../img/Frame-9.png"
          alt="frame"
          class="rightpara-leftfig-img-inner"
          style="width: 490px;height: 390px;margin-left:-500px;margin-top: 100px;"
        />
      </div>
    </div>
  </div>
</section>
