{{! Footer }}
<footer>
  <div class="footer-content">
    <div class="footer-side row">
      <div class="col-12 col-sm-6">
        <div class="footer-title" style="float: left;">
          Join the Community
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <ul class="twobuttons">
          <li class="d-none d-lg-block">
            <a href="/ARTH Whitepaper - 1.1.0 Draft.pdf">
              <button class="button1">
                White Paper
              </button>
            </a>
          </li>
          <li class="d-none d-lg-block">
            <a href="https://discord.gg/V6sr3fe">
              <button class="button2">
                Join Discord
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row middle-post no-gutters">
      <div class="col-12 col-sm-6">
        <div class="footer-text">
          Learn more about the MahaDAO, chat with the team and others in the community.
        Have your say in shaping the future of decentralized finance.
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="powered-by">
          <span class="footer-text3">
            Powered By:
          </span>
          <img src="img/footerlogo.png" alt="footerlogo" class="footerlogo" />
        </div>
      </div>
    </div>
    <div class="row bottom-most">
      <div class="col-12 col-sm-8">
        <div class="social-items">
          <a href="https://twitter.com/TheMahaDAO">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://medium.com/mahadao">
            <i class="fab fa-medium"></i>
          </a>
          <a href="https://t.me/MahaDAO">
            <i class="fab fa-telegram"></i>
          </a>
          <a href="https://github.com/mahadao">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.reddit.com/r/MahaDAO/">
            <i class="fab fa-reddit"></i>
          </a>
          <a href="https://discord.gg/V6sr3fe">
            <i class="fab fa-discord"></i>
          </a>
          {{! <a href="#">
          <i class="fab fa-discourse"></i>
        </a> }}
        </div>
      </div>
      {{! <div class="col-12 col-sm-4">
      <div class="footer-end">
        <span>
          Legal
        </span>
        |
        <span>
          Privacy
        </span>
        |
        <span>
          Terms
        </span>
      </div>
    </div> }}
    </div>
    <div id="footer-gradient"></div>
  </div>
</footer>
