{{! Header }}
<header class="nav-row header">
  <div class="mahadao-logo">
    <img src="../../images/logo.png" alt="mahadao-logo" />
  </div>
  <ul class="two_buttons">
    <li>
      <a target="_blank" href="#">
        <button class="button1">
          White Paper
        </button>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://discord.gg/V6sr3fe">
        <button class="button2">
          <i class="fab fa-discord"></i>
        </button>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://discord.gg/V6sr3fe">
        <button class="button2">
          <i class="fab fa-telegram"></i>
        </button>
      </a>
    </li>
  </ul>
</header>
