footer
  background: rgba(33, 33, 33, 1)
  max-width: $max-width
  margin: 0 auto
  padding: 30px 90px

  .footer-title
    // width: 580px
    font-family: Syne
    font-size: 36px
    font-style: normal
    font-weight: 700
    line-height: 47px
    letter-spacing: 0px
    text-align: left
    color: #ffffff
    margin-bottom: 30px
    // margin: 60px 10px 0px 130px
    float: left

  .footer-flex
    // width: 1300px
    display: flex
    // margin: 30px 0px 0px 131px

  .footer-text
    color: rgba(150, 150, 150, 1)
    font-family: $font-family-body
    font-size: 18px
    font-style: normal
    font-weight: 400
    line-height: 25px
    letter-spacing: 0em

  .footer-text2
    color: #ffffff
    margin-left: 500px
    margin-top: 40px

  .footer-text3
    margin-top: 0px
    font-size: 18px
    line-height: 21px
    letter-spacing: 0px
    text-align: left

  .footerlogo
    width: 140px
    height: 50px
    border-radius: 10px
    margin-top: 25px

  .footer-end
    float: right
    color: #ffffff
    margin-right: 80px
    margin-top: 40px

  .social-items
    // display: inline
    color: #ffffff
    // width: 36.83px
    // height: 27.27px
    // margin-left: 100px

  .fab
    color: #ffffff
    font-size: 30px
    margin: 63.04px 24.5px 10px 24.5px
