#section-community
  margin: 30px 0
  text-align: center

  .main-section1
    // width: 1440px
    height: 645px

  .main-section-image
    margin: 20px 0
    max-width: 100%
    width: 100%
    // width: 1481.95px
    // height: 236.72px

  .main-section-bottom
    margin: 20px auto
    padding: 30px
    border-radius: 15px

    max-width: 800px
    font-family: $font-family-heading
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: 25px
    letter-spacing: 0.4000000059604645px
    text-align: center
    background: #F47F57
    // background: linear-gradient(45deg, #000000 14.64%, #515151 85.36%)
    background: linear-gradient(45deg, #FF8B71 0%, #A81E41 100%)
    color: #fff

  .f-text-title1
    font-family: $font-family-heading
    font-style: normal
    font-weight: bold
    max-width: $max-width
    font-size: 46px
    line-height: 55px
    text-align: center
    color: rgba(255, 255, 255, 1)

    margin: 30px auto

  .f-text-text
    font-family: $font-family-heading
    font-size: 18px
    max-width: 760px
    line-height: 26px
    text-align: center
    color: #A2A2A2
    margin: 10px auto
