#section-title
  max-width: $max-width
  margin: 0 auto
  padding: 0 30px

  .main-title
    font-family: $font-family-heading
    font-style: normal
    font-weight: bold
    font-size: 46px
    line-height: 55px
    letter-spacing: 1px
    color: #000
    // text-shadow: 0 0 1px #fff
    -webkit-text-stroke: 0.5px #fff

  .title-head
    color: #ffffff
    margin: 150px auto 0px
    font-size: 46px
    line-height: 55px
    font-weight: 700
    font-style: normal
    font-family: $font-family-heading

  .title-down-text
    color: #A2A2A2
    // margin-left: 165px
    margin-top: 44px
    font-size: 18px
    font-family: $font-family-heading
    line-height: 21px
    display: flex

  .line
    border: 2px solid rgba(216, 55, 71, 1)
    width: 1px
    display: flex
    margin-right: 19px
