#section-token-logos
  $token-width: 450px

  max-width: $max-width
  margin: 100px auto
  padding: 0 60px

  .pitch
    // margin-left: 124px
    // margin-top: 238px
    // width: 493px
    font-family: $font-family-heading
    color: #ffffff
    font-size: 30px
    font-weight: 800
    line-height: 1.2

  .side-text
    color: #ababab
    font-size: 16px
    font-weight: 400
    margin-top: 30px

  .side-para
    display: flex;
    flex-direction: column;
    justify-content: center;

    .para-text
      max-width: 600px

  // .fig-rightpara
    // display: flex
    // justify-content: center

  // .coin-arth
  .coin-maha
    .icon-section
      text-align: right

  .toppara-leftfig
    position: relative
    margin-top: 120px
    width: 562px
    height: 562px

  .bottompara-rightfig
    margin-top: 120px
    width: 562px
    height: 562px

  // .rightpara-leftfig-img
  //   margin: 182px 184px 184px 184.42px
  //   width: 539px
  //   height: 512px

  .token
    text-align: center


  .icon-section
    position: relative
    display: inline-block

    .rightpara-leftfig-img
      width: $token-width
      height: $token-width

    .rightpara-leftfig-img-inner
      position: absolute
      width: 196px
      height: 196px
      top: ($token-width  - 196px) / 2
      &.arth
        left: ($token-width  - 196px) / 2

      &.maha
        right: ($token-width  - 196px) / 2


  .right-side-title
    color: #ffffff
    font-size: 36px
    font-weight: 800
    line-height: 1.2

  .leftpara-rightfig
    display: flex
    justify-content: center

  .left-side-para
    // margin-left: 303px
    margin-top: 155px
    // width: 493px
