#section-three-features
  max-width: $max-width
  margin: 245px auto 0

  .card-deck
    display: flex
    // align-items: center
    justify-content: center
    // margin-left: 110px

  .col-12
    padding: 10px

  .card
    // width: 380px
    min-height: 495px
    margin: 0 0 20px
    background: linear-gradient(180deg, #2D2D2D 0%, #1C1C1C 100%)
    border-radius: 16px

  .img-container
    max-width: 50%
    height: 66.87px
    margin: 60px 40px 0

    img
      height: 100%

  .card-title
    // width: 300px
    margin: 30px 20px 0px
    font-family: $font-family-heading
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 38px
    color: #FFFFFF

  .pitch
    font-family: $font-family-heading
    font-weight: bold
    color: #777
    margin: 20px

  .card-text
    // width: 300px
    font-family: $font-family-body
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 160%
    color: #969696
    margin: 20px 20px 40px
    height: 100px
