#section-liquidity

  .img-container
    text-align: center
    margin: 0 auto
    img
      max-width: 100%

  .f-text-title
    // width: 754px
    font-family: $font-family-heading
    font-style: normal
    font-weight: bold
    font-size: 46px
    line-height: 55px
    text-align: center
    color: #FFFFFF
    margin: 30px auto

  .f-text-text
    // width: 753px
    font-family: $font-family-body
    font-size: 16px
    max-width: 760px
    line-height: 26px
    text-align: center
    color: #A2A2A2
    padding: 10px
    margin: 0 auto

  .main-section
    max-width: 1440px
    text-align: center
    height: 962px
    margin: 0 auto

  .main-section-image
    margin: -80px auto 0
    // width: 1208.54px
    // height: 698.12px

  .main-section-bottom
    font-family: $font-family-heading
    font-size: 18px
    font-style: normal
    font-weight: 700
    letter-spacing: 0.4000000059604645px
    line-height: 25px
    margin: -40px auto 0
    padding: 30px
    text-align: center
    max-width: 981px
    color: linear-gradient(81.26deg, #F47F57 14.65%, #FD5656 83.88%)
    color: #F47F57
