
.card-deck
  display: flex
  align-items: center
  justify-content: center
  // margin-left: 110px
  margin-top: 245px

.card
  width: 380px
  height: 495px
  margin-left: 20px
  background: linear-gradient(180deg, #2D2D2D 0%, #1C1C1C 100%)
  border-radius: 16px

.card-img-top
  // width: 289px
  height: 66.87px
  margin: 60px 51px 0px 40px

.card-img-top1
  width: 212px
  height: 75.9px
  margin: 50.55px 128px 0px 40px

.card-title
  width: 300px
  margin: 48.13px 40px 0px 40px
  font-family: $font-family-heading
  font-style: normal
  font-weight: bold
  font-size: 32px
  line-height: 38px
  color: #FFFFFF

.card-text
  width: 300px
  font-family: $font-family-body
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 160%
  color: #969696
  margin: 20px 40px 68px 40px
