#team-section.section-f
  // width: 1440px
  max-width: $max-width
  margin: 60px auto 0
  border-radius: 55px
  background: linear-gradient(180deg, #212121 0%, rgba(33, 33, 33, 0) 60.94%)
  margin-top: 60px
  padding: 30px 0

  .f-text-title

    font-family: Syne
    font-style: normal
    font-weight: bold
    font-size: 46px
    line-height: 55px
    text-align: center
    color: rgba(255, 255, 255, 1)

    padding: 20px 15px

  .team-section
    color: #F47F57
    margin-top: 60px

  .f-text-text
    font-family: $font-family-body
    font-size: 16px
    line-height: 26px
    text-align: center
    color: #A2A2A2
    padding: 10px
    margin: 0 auto

  .f-cards
    margin: 60px auto 0
    display: flex
    justify-content: center
    flex-wrap: wrap

  .f-card-img-top
    width: 150px
    height: 150px
    border-radius: 50%
    border: 5px solid black
    // margin-left: 32px
    margin: 20px auto

  .f-card-title
    font-family:
    font-size: 24px
    font-style: normal
    font-weight: 700
    line-height: 29px
    letter-spacing: 0px
    text-align: center
    color: #ffffff

  .f-card-text
    font-family: Syne
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 17px
    letter-spacing: 0px
    text-align: center
    color: rgba(161, 161, 161, 1)

  .card1
    text-align: center
    width: 25%
