
.main-title
  font-family: 'Syne', sans-serif
  font-style: normal
  font-weight: bold
  font-size: 46px
  line-height: 55px
  letter-spacing: 1px

.title-head
  color: #ffffff
  margin: 294px 457px 0px 163px
  font-size: 46px
  line-height: 55px
  font-weight: 700
  font-style: normal
  font-family: 'Syne', sans-serif

.title-down-text
  color: #A2A2A2
  margin-left: 165px
  margin-top: 44px
  font-size: 18px
  font-family: 'Syne', sans-serif
  line-height: 21px
  display: flex
