#section-community
  margin: 30px
  text-align: center

  .main-section1
    // width: 1440px
    height: 645px

  .main-section-image
    margin: 20px 0
    // width: 1481.95px
    height: 236.72px

  .main-section-bottom
    margin-top: 20.28px

    // width: 981px
    font-family: Syne
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: 25px
    letter-spacing: 0.4000000059604645px
    text-align: center
    color: linear-gradient(81.26deg, #F47F57 14.65%, #FD5656 83.88%)
    color: #F47F57

  .f-text-title1
    // width: 1004px
    font-family: Syne
    font-style: normal
    font-weight: bold
    font-size: 46px
    line-height: 55px
    text-align: center
    color: rgba(255, 255, 255, 1)

    margin: 120px 342px 0px 342px
