$font-family-heading: 'Syne', sans-serif
$font-family-body: 'Roboto', sans-serif
$max-width: 1200px

*
  margin: 0%
  padding: 0%
  box-sizing: border-box

// @media screen and (max-width: 209px)
//   .mahadao-logo, .two-buttons, .button1, .button2, .right
//     width: 100%

body
  background-color: #161616
  font-family: $font-family-heading

html
  display: block
  height: 100%
  width: 100%
  overflow-x: hidden

body
  display: block
  height: 100%
  width: 100%
  overflow-x: hidden
  background-color: #161616
  position: relative

@import './_background'
@import './_header'
@import './_footer'

@import './_section-title'
@import './_section-features'
@import './_section-farming'
@import './_section-community'
@import './_section-token-logos'
@import './_section-partners'
@import './_section-team'
